/*
https://www.npmjs.com/package/hamburger-menu
*/

.navbar {
    margin: 0;
    padding: 1rem 2rem;
    border-bottom: 2px solid #36454F;
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo p {
    background-color: inherit;
    font-size: 4rem;
    font-weight: 700;
}

.menu-links {
    margin: 0;
    padding: 0;

    display: flex;
}

.menu-links li {
    list-style: none;
    display: block;
}

.menu-links a {
    padding: 1rem;
    transition: all 0.4s ease-in;
}

.menu-links a:hover {
    background-color: #6183AD;
    color: #FFF;
}

.hamburger {

    position: absolute;
    top: 2rem;
    right: 2rem;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 30px;
    height: 21px;
}

.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #36454F;
}

@media (max-width: 768px) {

    .hamburger {
        display: flex;
    }


    .menu {
        display: none;
    }

    .menu:active {
        display: flex;        
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;

        width: 100%;
    }

    .menu-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: rgba(97, 131, 173, 1)
    }

    .menu-links li {
        margin: 1rem 0;
        font-size: 2rem;
        align-self: center;
        width: 100%;
    }

    .menu-links a {
        color: #FFF;
    }
}