@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;900&display=swap');

/* GENERAL */

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    max-width: 1500px;
    background-color: #fff;
}

body, h1, h2, h3, h4, p {
    margin: 0;
    color: #36454F;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

a {
    color: #36454F;
    text-decoration: none;
}

/* ---------------------------------------------------- */


/* HOME */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    

    padding: 3rem 2rem;
}


.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    max-width: 500px;
    margin: 3rem 0;

    border: 15px solid #6183AD;
    border-radius: 20px;
}

.two {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.text-intro {
    font-size: 5rem;
    max-width: 50rem;

    text-align: center;
    margin-bottom: 3rem;
}


.btn {
    background-color: #6183AD;

    font-family: 1.6rems;
    font-size: inherit;
    text-align: center;

    border: 0;
    padding: 2rem 2.5rem;
    border-radius: 20px;
    margin: 0;
}

.btn a {
    color: white;
}

/* ---------------------------------------------------- */

/* ABOUT */

h2 {
    font-size: 3rem;
    font-weight: 700;
    padding: 3rem 2rem;

    border-top: 2px solid #36454F;
    border-bottom: 2px solid #36454F;
}

.about-text {
    padding-left: 2rem;
}

.link-btn {
    background-color: #6183AD;

    font-family: 1.6rem;
    font-size: inherit;
    text-align: center;

    border: 0;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: 0;
    margin-top: 1rem;
}

.link-btn a {
    color: #fff;
}

/* ---------------------------------------------------- */

/* PROJECT */
.ph-project {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    background-color: #6183AD;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ph-project h3 {
    color: #fff;
}

.collection {
    padding: 2rem;    

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.project {
    /* margin: 1rem; */
    width: 100%;
    padding-top:2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.project h3 {
    margin: 0;
    padding: 0 1rem;

    align-self: start;
    font-size: 3rem;
    border-left: 1px solid #36454F;
}

.proj-img {
    width: 300px;

    display: flex;
    justify-content: center;

    padding: 1rem;
}

.proj-text {

    width: 300px;
    padding: 2rem 2.5rem;

    padding: 1rem;
}

.menu-links a:hover {
    background-color: #6183AD;
    color: #FFF;
}

.repo-link {
    color: inherit;
    display: inline;
    transition: all 0.3s ease-in;
}

.repo-link:hover {
    background-color: #6183AD;
    color: #FFF;
}

.shadow {
    -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

/* ---------------------------------------------------- */

/* CONTACT */
h3 {
    font-size: 5rem;
    font-weight: 900;
    padding: 3rem 2rem;
}

address {
    margin-top: 3rem;
}

address a {
    padding: 0.5rem;
    transition: all 0.4s ease-in;
}

address a:hover {
    background-color: #6183AD;
    color: #FFF;
}

.box {
    background: rgb(255, 255, 255);
    font-size: 10rem;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;

    margin: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ani {
    animation: bg-change ease 5s infinite;
}

@keyframes bg-change {
    0% {
        color: rgba(54, 69, 79, 1);
    }

    25% {
        color: rgba(255, 255, 255, 1);
    }

    50% {
        color: rgba(54, 69, 79, 1);
    }

    75% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        ccolor: rgba(54, 69, 79, 1);
    }
}

/* ---------------------------------------------------- */


/* Footer */
footer {
    border-top: 2px solid #36454F;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 2rem;
}



/* ---------------------------------------------------- */
@media (max-width: 850px) {

    html{
        display: initial;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .profile-photo {
        max-width: 300px;
    }

    .collection {
        padding: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;


        gap: 2rem;
    }

    .box {
        font-size: 5rem;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}